* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-size: 16px;
    -ms-overflow-style:none;
}

body::-webkit-scrollbar { display:none; }

@keyframes ani {
    0% {width: 0;}
    100% {width: 60px;}
}

@keyframes ani1 {
    0% {width: 20px;}
    100% {width: 60px;}
}

@keyframes fon_S {
    0% {font-size: 3.8rem;}
    100% {font-size: 5rem;}
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.after {
    display: block;
    content: "";
    clear: both;
}

.after>li {
    float: left;
}

#wrap {
    z-index: 20;
}

#wrap>div {
    position: relative;
    overflow: hidden;
}

#wrap>div>div {
    position: absolute;
}

/* ----------------------Fixed------------------------- */

.Bar_box {
    position: fixed;
    border-bottom: 1px solid #fff;
    width: 100%;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo {
    float: left;
    width: 20%;
}

.logo_img {
    background: url(../img/Jeju_co.png) no-repeat center;
    background-size: contain;
    margin-left: 5%;
    width: 160px;
    height: 80px;
}

.logo_img>a {
    display: block;
    width: 100%;
    height: 100%;
}

.H_blink_box {
    float: left;
    width: 20%;
}

.H_bar_header {
    float: left;
    width: 60%;
}

.H_bar {
    padding: 25px 0;
    box-sizing: border-box;
}

.H_bar>li {
    width: 20%;
    text-align: center;
    font-size: 1.3rem;
    color: #fff;
    transition: 0.5s;
}

.H_bar>li:hover {
    font-weight: bold;
    font-size: 1.5rem;
}

.Side_rignt {
    position: fixed;
    top: 50%;
    right: 1%;
    z-index: 30;
}

.Side_rignt>ul>li {
    margin-bottom: 20px;
}

.Side_rignt>ul>li>a {
    display: block;
    width: 5px;
    height: 5px;
    border: 2px solid rgb(180, 180, 180);
    border-radius: 50%;

}

.Side_rignt>ul>li.on>a {
    background-color: rgb(24, 0, 160);
    border: 2px solid rgb(255, 255, 255);
}

.Side_left_sns {
    position: fixed;
    top: 35%;
    left: -80px;
    width: 115px;
    height: 300px;
    z-index: 30;
    border-radius: 0px 20px 20px 0px;
    background-color: rgba(0, 0, 0, 0.3);
}

.Side_left_sns>ul {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
}

.Side_left_sns>ul>li {
    margin-bottom: 30px;

}

.Side_left_sns>ul>li:last-child {
    margin-bottom: 0;
}

.Side_left_sns>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    transition: 0.3s;
}

.facebook:hover {
    color: #3b5998;
}

.instagram:hover {
    color: #3f729b;
}

.google:hover {
    color: #006064;
}

.youtube:hover {
    color: #c4302b;
}

.Side_left_sns>ul>li>a>i {
    display: block;
}

.Side_left_sns>div {
    display: none;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.3);
}

.Side_left_sns>div.on {
    display: block;
}

.Side_left_sns>div>a {
    display: block;
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.Side_left_sns>div>a>i {
    display: block;
}

/* ----------------------header------------------------- */

#main {
    width: 100%;
    height: 100%;
}

.m_bg_img {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.m_bg_img>ul {
    position: absolute;
    width: 100%;
    height: 100%;
}

.m_bg_img>ul>li {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.m_bg_img>ul>li:nth-of-type(1) {
    background: url(../img/1.jpg) no-repeat center;
    background-size: cover;
    z-index: 5;
}

.m_bg_img>ul>li:nth-of-type(2) {
    background: url(../img/2.jpg) no-repeat center;
    background-size: cover;
}

.m_bg_img>ul>li:nth-of-type(3) {
    background: url(../img/7.jpg) no-repeat center;
    background-size: cover;
}

.m_bg_img>ul>li:nth-of-type(4) {
    background: url(../img/4.jpg) no-repeat center;
    background-size: cover;
}

.m_bg_img>ul>li:nth-of-type(5) {
    background: url(../img/5.jpg) no-repeat center;
    background-size: cover;
}

.m_blackbox {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
}

.m_textbox {
    transform: translate(-50%, -50%);
    top: 40%;
    left: 50%;
    color: #fff;
    text-align: center;
    width: 70%;
    padding: 30px 0;
    z-index: 6;
}

.m_textbox>h1 {
    font-size: 3rem;
    margin-bottom: 40px;
    opacity: 0;
}

.m_textbox>p
{
    line-height: 3rem;
    font-size: 1.2rem;
    opacity: 0;
}

.m_bt1 {
    transform: translate(-50%, -50%);
    top: 65%;
    left: 50%;
    border: 1px solid #fff;
    border-radius: 10px;
    font-size: 1.2rem;
    color: #fff;
    transition: 0.5s;
    z-index: 6;
    opacity: 0;
}

.m_bt1>a {
    display: block;
    padding: 10px 50px;
}

.m_bt1:hover {
    box-shadow: 0px 0px 10px #fff;
    font-size: 1.3rem;
}

.m_bottom_btn {
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 7;
}

.m_bottom_btn>ul>li {
    float: left;
    margin-right: 20px;
}

.m_bottom_btn>ul>li:last-child {
    margin-right: 0px;
}

.m_bottom_btn>ul>li>a {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.5);
}

.m_bottom_btn>ul>li.on>a {
    overflow: hidden;
    animation: ani1 0.7s alternate 1 both;
}

.m_bottom_btn>ul>li.on>a>div {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    animation: ani 6s linear 1 normal;
}

/* -----------------------intro----------------------------- */

#intro
{
    background-color: rgb(50, 50, 50);
}

.in_div1
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 37%;
    width: 50%;
    height: 80%;
    opacity: 0;
}

.in_div1>div
{
    display: none;
    position: absolute;
    height: 100%;
}

.in_div1>div.on
{
    display: block;
}

.in_div1_1
{
    width: 100%;
    height: 70%;
}

.in_div1_1>video
{
    width: 100%;
    height: 100%;
    border:0;
}

.in_div1_2
{
    width: 100%;
    height: 30%;
    border-bottom: solid #fff 1px;
}

.in_div1_2>ul
{
    height: 100%;
    color: #fff;
}

.in_div1_2>ul>li:first-child
{
    width: 100%;
    height: 25%;
    padding: 20px 10px;
}

.in_div1_2>ul>li:last-child
{
    width: 100%;
    height: 75%;
    font-size: 1.3rem;
    padding: 0 10px;

}

.in_div1_2>ul>li:last-child>p:first-child
{
    margin-bottom: 20px;
}

.in_div1_2>ul>li>h1
{
    width: 100%;
    height: 100%;
}

.in_div2
{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 53%;
    left: 77%;
    width: 25%;
    height: 80%;
    border-top: solid #fff 1px;
    border-bottom: solid #fff 1px;
    opacity: 0;
}

.in_div2>ul
{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    box-sizing: border-box;
    overflow: hidden;
    overflow: auto;
}

.in_div2>ul::-webkit-scrollbar {
    width: 10px;
    background-color: #000;
    border-radius: 10px;
  }

  .in_div2>ul::-webkit-scrollbar-thumb {
    background-color: #ff1414;
    border-radius: 10px;
  }
  .in_div2>ul::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 10px;
  }

.in_div2>ul>li
{
    width: 100%;
    height: 20%;
    margin-bottom: 5%;
    color: #fff;
    border-top: dotted #fff 1px;
    /* border-bottom: solid #fff 1px; */
}

.in_div2>ul>li:first-child
{
    border-top: solid #fff 0px;
}

.in_div2>ul>li>a{
    display: block;
    width: 100%;
    height: 100%;
}

.in_div2>ul>li>a>video
{
    float: left;
    width: 50%;
    height: 100%;
}

.in_div2>ul>li>a>div
{
    float: left;
    width: 45%;
    height: 100%;
    margin-left: 5%;
}

.in_div2>ul>li>a>div>h3
{
    height: 70%;
    padding-top: 15px;
    box-sizing: border-box;
}

.in_div2>ul>li>a>div>p
{
    height: 30%;
}

/* -----------------------contents----------------------------- */

#contents {
    width: 100%;
    height: 100%;
    background: url(../img/bg1.jpg) no-repeat center;
    background-size: cover;
}

#contents>div
{
    opacity: 0;
}

#contents>div:nth-of-type(1) {
    position: absolute;
    width: 85%;
    height: 7%;
    top: 16%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con_click>li {
    float: left;
    width: 32.3333%;
    font-size: 1.2rem;
    color: #fff;
    box-sizing: border-box;
    margin-right: 1%;
    text-align: center;
    border: 1px solid #fff;
}

.con_click>li.on {
    font-weight: bold;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px #fff;
    color: #000;
}

.con_click>li:last-child {
    margin-right: 0;
}

.con_click>li>a {
    display: block;
    padding: 15px 0;
    width: 100%;
    height: 100%;
}

.con_click>li:hover {
    font-weight: bold;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 5px #fff;
    color: #000;
}

.con {
    position: absolute;
    width: 85%;
    height: 70%;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.con>div
{
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
}

.con>div.on {
    display: block;
}

.con>div>ul {
    float: left;
    width: 50%;
    height: 100%;
    padding: 0 2%;
    box-sizing: border-box;
}

.con>div>div>ul:nth-of-type(odd) {
    border-right: 1px solid #fff;
}

.con>div>ul>li {
    width: 100%;
    height: 100%;
}

.con>div>ul>li>h1 {
    height: 10%;
    color: #fff;
    text-align: center;
}

.con>div>ul>li>div:nth-of-type(1) {
    width: 100%;
    height: 40%;
    margin-bottom: 5%;
    box-shadow: 5px 5px 5px #000;
}

.con>div>ul>li>div:nth-of-type(2) {
    width: 100%;
    height: 35%;
    margin-bottom: 5%;
    overflow: hidden;
    color: #fff;
}

.con>div>ul>li>div:last-child {
    width: 100%;
    height: 5%;
    text-align: right;
    transition: 0.5s;
}

.con>div>ul>li>div:last-child>a:hover {
    font-weight: bold;
    color: red;
    transition: 0.5s;
    text-shadow: -7px 7px 3px gray;
}

.con_box1_img1 {
    background: url(../img/Je_1.jpg) no-repeat center;
    background-size: cover;
}

.con_box1_img2 {
    background: url(../img/Je_2.jpg) no-repeat center;
    background-size: cover;
}

.con_box2_img1 {
    background: url(../img/Je_food_1.jpg) no-repeat center;
    background-size: cover;
}

.con_box2_img2 {
    background: url(../img/Je_food_2.gif) no-repeat center;
    background-size: cover;
}

.con_box3_img1 {
    background: url(../img/je_shop1.jpg) no-repeat center;
    background-size: cover;
}

.con_box3_img2 {
    background: url(../img/je_shop2.jpg) no-repeat center;
    background-size: cover;
}

/* -----------------------news----------------------------- */

.n_water_mark1
{
    position: absolute;
    top: 3%;
    left: 3%;
    color: rgb(206, 206, 206);
    font-size: 10rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(206, 206, 206);
    opacity: 0;
}

.n_water_mark2
{
    position: absolute;
    bottom: 3%;
    right: 3%;
    font-size: 4rem;
    font-weight: bolder;
    text-shadow: 0px 0px 10px rgb(90, 90, 90);
    opacity: 0;
}

.n_wrap_main2
{
    position: absolute;
    width: 40%;
    height: 70%;
}

.n_main1
{   
    position: absolute;
    transform: translate(-50%, -50%);
    top: 52%;
    left: 30%;
    width: 40%;
    height: 70%;
    border-right: solid #000 1px;
    overflow: hidden;
    opacity: 0;
}

.n_main1>li
{
    display: none;
    position: absolute;
    left: -97%;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.n_main1>li.on
{
    display: block;
}

#news>ul>li>a
{
    display: block;
    width: 100%;
    height: 100%;
}

.n_wrap_main2>ul>li>a
{
    display: block;
    width: 100%;
    height: 100%;
}

.n_m1_box
{
    position: absolute;
}

.n_m1_box>a
{
    overflow: hidden;
}

.n_main1>li>a>div
{
    height: 60%;
    margin-bottom: 5%;
    box-shadow: 0 0 10px #000;
}

.n_main1>li>a>h3
{
    height: 5%;
    margin-bottom: 5%;
}

.n_main1>li>a>p
{
    height: 30%;
}

.n_m1_img1
{
    background: url(../img/N1.jpg) no-repeat center;
    background-size: cover;
}

.n_m1_img2
{
    background: url(../img/N2.jpg) no-repeat center;
    background-size: cover;
}

.n_m1_img3
{
    background: url(../img/N3.jpg) no-repeat center;
    background-size: cover;
}

.n_m1_img4
{
    background: url(../img/N4.jpg) no-repeat center;
    background-size: cover;
}

.n_m1_img5
{
    background: url(../img/N5.jpg) no-repeat center;
    background-size: cover; 
}

.n_m1_img6
{
    background: url(../img/N6.jpg) no-repeat center;
    background-size: cover;
}

.n_m1_img7
{
    background: url(../img/N7.jpg) no-repeat center;
    background-size: cover;
}

.n_wrap_main2
{
    transform: translate(-50%, -50%);
    top: 52%;
    left: 70%;
    padding: 0 50px;
    box-sizing: border-box;
    overflow: hidden; 
}

.n_main2
{
    position: absolute;
    right: -97%;
    width: 100%;
    height: 100%;
    padding: 0 50px;
    box-sizing: border-box;
}

.n_m2_box
{
    height: 25%;
    padding: 2% 0;
    box-sizing: border-box;
    border-bottom: solid #000 1px;
}

.n_m2_box>a
{
    transition: 0.5s;
}

.n_m2_box>a>div
{
    float: left;
    overflow: hidden; 
}

.n_m2_box>a:hover
{
    box-shadow: 0 0 10px #000;
}

.n_m2_box>a>div:first-child
{
    width: 25%;
    height: 100%;
    margin-right: 4%;
}

.n_m2_box>a>div>h3
{
    height: 25%;
    margin-bottom: 3%;
    white-space: nowrap;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.n_m2_box>a>div>p
{
    height: 62%;
    overflow: hidden; 
    color: rgb(90, 90, 90);
}

.n_m2_box>a>div:last-child
{
    width: 71%;
    height: 100%;
}

.news_next {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 45%;
    left: 90%;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    opacity: 0;
}

.news_next>a
{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.news_next:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px #000;
}

.news_prev {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 65%;
    left: 90%;
    color: #fff;
    font-size: 2rem;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: 0.5s;
    opacity: 0;
}

.news_prev>a
{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.news_prev:hover
{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px #000;
}

/* -----------------------footer----------------------------- */

#footer {
    width: 100%;
    height: 100%;
    background: url(../img/3.jpg) no-repeat center;
    background-size: cover;
}

#footer>div
{
    opacity: 0;
}

.f_text_box {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 6;
    text-align: center;
}

.f_text_box>h1 {
    font-size: 3rem;
    margin-bottom: 50px;
}

.f_text_box>p {
    font-size: 1.1rem;
}

.f_bt {
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 6;
}

.f_bt>ul>li {
    height: 70px;
    font-size: 3.8rem;
    padding: 0 30px;
    color: #fff;
    text-align: center;
}

.f_bt>ul>li>p {
    font-size: 1rem;
}

.f_bt>ul>li:last-child {
    border: 0px;
}

.f_bt>ul>li:hover {
    animation: fon_S 0.5s alternate 1 both;
    color: #ffffcc;
}

.f_bar {
    width: 100%;
    margin: 0 auto;
    bottom: 0;
    left: 0;
    border-top: 1px solid #fff;
    padding: 20px 0;
    z-index: 6;
}

.f_bar>ul>li {
    float: left;
    color: #fff;
    padding-left: 50px;
    box-sizing: border-box;
}

.f_bar>ul>li:nth-of-type(1) {
    border-right: 1px solid #fff;
    width: 70%;
}

.f_bar>ul>li:nth-of-type(2) {
    width: 15%;
}

.f_bar>ul>li:nth-of-type(3) {
    width: 15%;
}

.f_bar>ul>li:nth-of-type(2)>a{
    display: block;
    width: 150px;
    height: 60px;
    background: url(../img/kakaoplus.png) no-repeat center;
    background-size: contain;
}

.f_bar>ul>li:nth-of-type(3) {
    height: 60px;
    background: url(../img/pop_qr.jpg) no-repeat center;
    background-size: contain;
}